@model IEnumerable<CarInsuranceProjApp.Models.Car>
@{
    ViewBag.Title = "Admin";
}
<p>
    @Html.ActionLink("+", "Create", new { id = "" }, new { @class = "btn-floating btn-large waves-effect waves-light" })
</p>
<div class="center-align">
    <table class="highlight indigo">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("first")
                </th>
                <th>
                    @Html.DisplayName("last")
                </th>
                <th>
                    @Html.DisplayName("email")
                </th>
                <th>
                    @Html.DisplayName("dob")
                </th>
                <th>
                    @Html.DisplayName("year")
                </th>
                <th>
                    @Html.DisplayName("make")
                </th>
                <th>
                    @Html.DisplayName("model")
                </th>
                <th>
                    @Html.DisplayName("tickets")
                </th>
                <th>
                    @Html.DisplayName("dui")
                </th>
                <th>
                    @Html.DisplayName("coverage")
                </th>
                <th>
                    @Html.DisplayName("quote")
                </th>
                <th>
                    @Html.DisplayName("||")
                </th>
                <th>
                    @Html.DisplayName("")
                </th>
                <th>
                    @Html.DisplayName("")
                </th>
            </tr>
        </thead>

        <tbody class="white">
            @foreach (var item in Model)
            {
                var _dob = item.DateOfBirth.ToShortDateString(); // parse dob to date only
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmailAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => _dob) <!--only want the date, not the whole datetime-->
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CarYear)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CarMake)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CarModel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tickets)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Dui)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Coverage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuoteTotal)
                    </td>
                    <td>
                        ||
                    </td>
                    <td>
                        @Html.ActionLink("EDIT", "Edit", new { id = item.Id }, new { @class = "waves-effect waves-teal btn-flat" })
                    </td>
                    <td>
                        @Html.ActionLink("DELETE", "Delete", new { id = item.Id }, new { @class = "waves-effect waves-teal btn-flat" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
