@model IEnumerable<CarInsurance_WebApp.Models.vinsuree_data_all>

@{
    ViewBag.Title = "Index";
}
<p>
    @Html.ActionLink("+", "Create", new { id = "" }, new { @class = "btn-floating btn-large waves-effect waves-light" })
</p>
<table class="highlight indigo">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("first")
            </th>
            <th>
                @Html.DisplayName("last")
            </th>
            <th>
                @Html.DisplayName("email")
            </th>
            <th>
                @Html.DisplayName("||")
            </th>
            <th>
                @Html.DisplayName("curr. quote")
            </th>
            <th>
                @Html.DisplayName("prev. quote")
            </th>
        </tr>
    </thead>
    <tbody class="white">
        @foreach (var rec in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => rec.first_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => rec.last_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => rec.email)
            </td>
            <td>
                ||
            </td>
            <td>
                @Html.DisplayFor(modelItem => rec.curr_quote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => rec.prev_quote)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = rec.insuree_key }, new { @class = "waves-effect waves-teal btn-flat" })
            </td>
        </tr>
        }
    </tbody>
</table>