@model IEnumerable<CarInsurance_WebApp.Models.vinsuree_data_all>

@{
    ViewBag.Title = "Success";
}

<p>

</p>

<table class="highlight indigo">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("prev. quote")
            </th>
            <th>
                @Html.DisplayName("curr. quote")
            </th>
            <th>
                @Html.DisplayName("delta")
            </th>
        </tr>
    </thead>

    <tbody>
    @foreach (var rec in Model)
    {
        decimal delta = (decimal.Subtract(rec.prev_quote.AsDecimal(), rec.curr_quote.AsDecimal())); // get delta between quotes
        string _delta = delta > rec.prev_quote.AsDecimal() ? "+" + delta.ToString() : "-" + delta.ToString();// parse if client svaed on quote
        <tr>
            <td>
                @Html.DisplayFor(modelItem => rec.prev_quote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => rec.curr_quote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => _delta) <!-- display parsed value -->
            </td>
        </tr>
    }
</table>

